{% extends 'base.html.twig' %}

    {% block content %}
        <main>
            {% if articles.published %}
                <article>
                    <img src="{{ articles.image }}">
                    <h1>{{ articles.title }}</h1>
                    <p>{{ articles.content }}</p>
                </article>
            {% else %}
                <p>L'article demandé n'est pas en ligne</p>
            {% endif %}

        </main>
    {% endblock %}
