{% extends 'base.html.twig' %}

    {% block content %}
        <main>
            {% if article.published %}
                <article>
                    <img src="{{ article.image }}">
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.content }}</p>
                </article>
            {% else %}
                <p>L'article demandé n'est pas en ligne</p>
            {% endif %}

        </main>
    {% endblock %}
